<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="UTF-8">
    <title>Edycja profilu</title>
  </head>
  <body>
    <main>
      <h1>WYJEBAŁO SIE</h1>

      {% if message %}
        <p style="color: red;">{{ message }}</p>
      {% endif %}

      <form method="post" action="/user/edit">
        <input value="{{ email or '' }}" type="text" name="email" placeholder="Wpisz email">
        <input value="{{ username or '' }}" type="text" name="username" placeholder="Wpisz username">
        <input value="{{ avatar_url or '' }}" type="text" name="avatar_url" placeholder="Wpisz avatar_url">
        <button type="submit">Aktualizuj</button>
      </form>
    </main>
  </body>
</html>
