<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Login</title>
  </head>
  <body>
    <main>
        <h1>Login form</h1>  
            <form method="post" action="/auth/edit">
                <input value="{{email}}" type="text" name="email" placeholder="Wpisz email">
                <input value="{{username}}" type="username" name="username" placeholder="Wpisz username">
                <input value="{{avatar_url}}" type="avatar_url" name="avatar_url" placeholder="Wpisz avatar_url">
                <button type="submit">Aktualizuj</button>
            </form>
    </main>
  </body>
</html>