<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Login</title>
  </head>
  <body>
    <main>
        <h1>Login form</h1>  
            <form method="post" action="/auth/login">
                <input value="{{Email}}" type="text" name="email" placeholder="Wpisz email">
                <input value="{{Password}}" type="text" name="password" placeholder="Wpisz hasło">
                <button type="submit">Zaloguj</button>
            </form>
    </main>
    <form>
  </body>
</html>