<!doctype html>
<html lang="pl">
<head>
  <meta charset="utf-8">
  <title>Dwa panele z listą i suwakiem</title>
  <style>
    .bottom_body {
      display: flex;
      justify-content: space-between;
      margin: 20px;
      font-family: sans-serif;
    }
    .panel {
      width: 20%;
      border: 1px solid #ccc;
      padding: 10px;
    }
    select {
      width: 100%;
      height: 120px;
    }
  </style>
</head>
<body>
    {% if message %}
        <div style="background-color: #ffe5e5; color: red; padding: 10px; border: 1px solid red; margin-bottom: 20px;">
            {{ message }}
        </div>
    {% endif %}
  <div style="max-height: 200px; overflow-y: auto; border: 1px solid #ccc; padding: 5px;">
    <div style="display: flex; font-weight: bold; margin-bottom: 5px;">
        <div style="flex: 1;">Data startu</div>
        <div style="flex: 2;">Nazwa</div>
        <div style="flex: 1;">Publiczny?</div>
        <div style="flex: 1;">Akcja</div>
    </div>

    {% for tournament in tournament_created_by_user %}
    <div style="display: flex; align-items: center; margin-bottom: 5px; border-bottom: 1px solid #eee; padding: 3px 0;">
        <div style="flex: 1;">{{ tournament.start_date }}</div>
        <div style="flex: 2;">{{ tournament.tournament_name }}</div>
        <div style="flex: 1;">{{ 'Tak' if tournament.public else 'Nie' }}</div>
        <div style="flex: 1;">
            <form method="get" action="/tournament/{{ tournament.id }}" style="margin: 0;">
                <button type="submit">Edytuj</button>
            </form>
            <form method="post" action="/tournament/delete" style="margin: 0;">
                <input type="hidden" name="tournament_id" value="{{ tournament.id }}">
                <button type="submit">Usuń</button>
            </form>
        </div>
    </div>
    {% endfor %}
    <h1>Create new tournament</h1>  
            <form method="POST" action="/tournament/create" >
  <input value="{{ name }}" type="text" name="name" placeholder="Wpisz nazwę"required>
  <input value="{{ start_date_str }}" type="datetime-local" name="start_date" required>
  <label>
    <input type="checkbox" name="public" {% if public %}checked{% endif %}>
    Publiczny
  </label>

  <button type="submit">Zapisz</button>
  
</form>
</div>
</body>
</html>
